.box1{
    background-color: rgb(59, 55, 55);
    height: 100px;
    text-align: center !important;
}

.redes{
    font-size: 46px !important;
    color: white !important;
    margin-left: 20px !important;
}

.box2{
    background-color: rgb(107, 103, 103);
    height: 60px;
}

.textos{
    color: white;
}